/* Modal */
#id01 {
    display: block;
}
.w3-container {
    background-color: var(--secondary-color);
}
form {
    margin: 0 2%;
}
  
form label {
    display: block;
}
#modal-divider {
    display: flex;
    flex-direction: row;
}
#image-interaction {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: grey;
}
#image-interaction img {
    aspect-ratio: 1/1;
    padding: 10px;
    width: 200px;
    height: auto;
}
#image-interaction label, #image-interaction input {
    width: 200px;
}
#text-interaction {
    flex: 1;
    margin-top: 0;
    margin-left: 5%;
}


/* Larger Resolutions */
@media only screen and (min-width: 720px) {
    #id01 {
        top: 10%;
    }
}
