/*Main Content*/

#divider {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

/* Filter */
#filter {
    display: none;
    flex-direction: column;
    flex: 1;
}
ul {
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: gray;
    list-style-type: none;
}
li {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/*Item Display*/
#main-items {
    flex: 4;
}

#add-item {
    width: fit-content;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    text-align: right;
    font-size: 24px;
    background-color: var(--primary-color);
    border-radius: 20px;
    user-select: none;
}
#item-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.game-item {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    height: 100%;
    width: 90%;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
}
.game-item img {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
}
#text-section {
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}
#game-title {
    font-weight: bold;
}

#page-changer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#page-changer button {
    width: 80px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

/* Modal */
.w3-container {
    background-color: var(--secondary-color);
}
form {
    margin: 0 2%;
}
  
form label {
    display: block;
}
#modal-divider {
    display: flex;
    flex-direction: row;
}
#image-interaction {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: grey;
}
#image-interaction img {
    padding: 10px;
    width: 200px;
    height: 300px;
}
#text-interaction {
    margin-top: auto;
    margin-left: 5%;
}
/* Typography */




/* Larger Resolutions */
@media only screen and (min-width: 720px) {
    #filter {
        display: flex;
    }
    #item-list {
        flex-direction: row;
    }
    .game-item {
        flex-direction: column;
        height: 25%;
        width: 25%;
    }
    .game-item img {
        width: 80%;
    }
    #text-section {
        text-align: center;
        font-size: 16px;
    }
}