/* Structure */
:root {
  --primary-color: #98C9A3;
  --secondary-color: #606C38;
  --nav-color: #283618;
  --nav-text-color: #BC6C25;
}
body {
  background-color: var(--primary-color);
  margin: 0;
}
h1, h2, h3 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
h1 {
  background-color: cadetblue;
  padding: 20px;
  border: solid 1px var(--primary-color);
}

/* Nav Bar */
nav {
  position: sticky;
  top: 0;
  z-index: 5;
}
#nav-bar {
  flex-direction: column;
  text-align: center;
  background-color: var(--nav-color);
  padding: 20px;
}
.nav-item {
  flex: 1;
  text-decoration: none;
  color: var(--nav-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}

#toggle {
  left: 5px;
  background: #5d878c;
  width: fit-content;
  padding: 1px 3px;
  margin-bottom: 2px;
}

#toggle div {
  width: 25px;
  height: 2px;
  background: white;
  margin: 6px 0;
}

/* Larger Resolutions */
@media only screen and (min-width: 720px) {
  #nav-bar {
    display: flex;
    flex-direction: row;
  }
  #toggle {
    display: none;
  }
  .nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}