/* Main Content */
#divider {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

/* Left Side */
#left-side {
    flex: 1;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
}
#featured {
    position: relative;
    margin-bottom: 5%;
}
#featured img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
}
#featured h2 {
    text-align: left;
    position: absolute;
    font-size: 18px;
    left: 0;
    bottom: 0;
    background-color: green;
    padding: 1%;
    border-radius: 0 10px 0 10px;
}

#the-word {
    background-color: var(--primary-color);
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}
#the-word ul {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 0;
    background-color: var(--secondary-color);
    list-style-type: none;
}
#the-word li {
    padding: 3%;
    border-bottom: 1px solid white;
}

/* Right Side */
#right-side {
    flex: 1;
    padding-left: 2.5%;
    padding-top: 2.5%;
}
#right-side h2 {
    background-color: var(--primary-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-radius: 10px;
}

#high-ratings {
    margin-top: 2.5%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-item {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 5%;
    padding-left: 5px;
    max-width: 46%;
    border-radius: 20px;
    background-color: var(--primary-color);
    text-align: center;
}
.game-item img {
    max-width: 90%;
    max-height: 50%;
    aspect-ratio: 1/1;
    /*aspect-ratio: 16/9;*/
}
.game-item p {
    text-align: left;
}



/* Typography */




/* Larger Resolutions */
@media only screen and (min-width: 720px) {
    #divider {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        border-radius: 10px;
        background-color: var(--secondary-color);
    }
}